
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}


th, td {
    padding-left: 15px;
    text-align: left;   
}

#libDemRow{
	background-color:#FDBB30;
}

#labourRow{
	background-color:#DC241f;
}

#toryRow{
	background-color:#0087dc;
}

#greenRow{
	background-color:#6AB023;
}

#ukipRow{
	background-color:#70147A;
	color:white;
}

.tbl{
	
}
